In [ ]:
#This is a more organized submission for the Python Machine Learning Quiz

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
#Question1
len(df['Area'].value_counts())

49

In [5]:
#Question2
x = df.groupby('Area')['Y2017'].sum().sort_values(ascending = True)
x.index[6]

'Guinea-Bissau'

In [6]:
#Question5
df['Y2017'].mean().round(2)

140.92

In [7]:
round(df['Y2017'].std(),2)

1671.86

In [8]:
#Question7
df.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Ethiopia PDR                         0.00
Sudan (former)                       0.00
Name: Y2017, dtype: float64

In [9]:
#Question10
stock_max = df.groupby('Element').sum()
stock_max.iloc[15]

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
Name: Stock Variation, dtype: object

In [10]:
#Question11
df['Y2014'].isnull().sum()

1589

In [11]:
print('%:',((df['Y2014'].isnull().sum()/len(df['Y2014']))*100).round(3))

%: 2.607

In [50]:
#Question14

Element
Domestic supply quantity                  119
Import Quantity                           111
Food supply (kcal/capita/day)             111
Protein supply quantity (g/capita/day)    111
Fat supply quantity (g/capita/day)        111
Food supply quantity (kg/capita/yr)       110
Food                                      110
Production                                110
Residuals                                 105
Export Quantity                           104
Stock Variation                            98
Processing                                 76
Losses                                     55
Other uses (non-food)                      51
Feed                                       35
Seed                                       21
Total Population - Both sexes               1
Name: count, dtype: int64

In [51]:
#Question17
df.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food                     2180.00
Alcoholic Beverages                  98783.72
Animal Products                      11811.73
Animal fats                         200675.72
Apples and products                  10559.15
Aquatic Animals, Others                  9.26
Aquatic Plants                         631.23
Aquatic Products, Other                638.42
Bananas                              55046.76
Barley and products                  29153.44
Beans                                20315.77
Beer                                 42053.67
Beverages, Alcoholic                  2818.38
Beverages, Fermented                 47447.92
Bovine Meat                          22766.42
Butter, Ghee                          1165.69
Cassava and products                410235.89
Cephalopods                            496.95
Cereals - Excluding Beer            845669.36
Cereals, Other                       18912.55
Citrus, Other                        15188.91
Cloves                                  77.29
Cocoa Beans and products              7671.59
Coconut Oil                            556.18
Coconuts - Incl Copra                 6646.28
Coffee and products                   3849.99
Cottonseed                            7998.00
Cottonseed Oil                        1507.90
Cream                                  233.37
Crustaceans                            732.86
Dates                                11108.74
Demersal Fish                         6123.88
Eggs                                 21431.48
Fats, Animals, Raw                    1729.80
Fish, Body Oil                         193.73
Fish, Liver Oil                          6.36
Fish, Seafood                        43293.41
Freshwater Fish                      13195.86
Fruits - Excluding Wine             282857.19
Fruits, Other                        57504.33
Grand Total                         118937.92
Grapefruit and products               2352.21
Grapes and products (excl wine)      14607.88
Groundnut Oil                         5561.17
Groundnuts (Shelled Eq)              42199.35
Honey                                  713.12
Infant food                            340.38
Lemons, Limes and products            3667.51
Maize Germ Oil                         950.64
Maize and products                  287659.14
Marine Fish, Other                    3153.59
Meat                                 66042.60
Meat, Other                           5287.66
Milk - Excluding Butter             266446.14
Millet and products                  40459.94
Miscellaneous                         6803.24
Molluscs, Other                        134.91
Mutton & Goat Meat                    9625.44
Nuts and products                     6939.31
Oats                                   930.02
Offals                                7841.07
Offals, Edible                        7841.07
Oilcrops                            163097.03
Oilcrops Oil, Other                   5398.90
Oilcrops, Other                       6584.80
Olive Oil                             1711.65
Olives (including preserved)         12547.69
Onions                               36973.65
Oranges, Mandarines                  33421.50
Palm Oil                             27229.24
Palm kernels                         52524.00
Palmkernel Oil                        1408.94
Peas                                  2472.35
Pelagic Fish                         19838.14
Pepper                                 137.04
Pigmeat                               5914.61
Pimento                               2754.14
Pineapples and products              14276.56
Plantains                            65037.18
Population                         1058081.00
Potatoes and products                78655.23
Poultry Meat                         22440.36
Pulses                               59361.19
Pulses, Other and products           36569.14
Rape and Mustard Oil                   312.38
Rape and Mustardseed                   663.00
Rice and products                   150657.00
Ricebran Oil                             0.00
Roots, Other                         42757.91
Rye and products                       428.14
Sesame seed                           6769.62
Sesameseed Oil                         587.58
Sorghum and products                 82725.53
Soyabean Oil                         10381.77
Soyabeans                            16412.47
Spices                                5059.08
Spices, Other                         2068.57
Starchy Roots                       802578.22
Stimulants                           14180.97
Sugar & Sweeteners                   80214.74
Sugar (Raw Equivalent)               70675.27
Sugar Crops                         317423.30
Sugar beet                           47240.00
Sugar cane                          270179.30
Sugar non-centrifugal                  230.85
Sunflower seed                       10686.98
Sunflowerseed Oil                     4986.00
Sweet potatoes                       67762.36
Sweeteners, Other                     8593.45
Tea (including mate)                  2627.37
Tomatoes and products                68981.37
Treenuts                              6939.31
Vegetable Oils                       60659.38
Vegetables                          264068.13
Vegetables, Other                   158104.08
Vegetal Products                    107064.17
Wheat and products                  234710.51
Wine                                  4251.81
Yams                                203151.78
Name: Y2015, dtype: float64

In [14]:
df.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [15]:
#Question18
df[['Y2014','Y2015','Y2016','Y2017','Y2018']].corrwith(df['Element Code'])

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
dtype: float64

In [16]:
#Question20
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64